div.nav-bar {
    width: 100%;
    height: 8vh;
    box-sizing: border-box;
    padding: 2vh 10vw;
    border-bottom: 1px solid #0000001a;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5vw;

    div.logo-and-title {
        display: flex;
        align-items: center;
        gap: 0.5vw;
        
        padding-right: 7px;
        border-radius: 5px;

        transition: background-color 0.1s ease;
    
        div.titles {
            display: flex;
            flex-direction: column;
            gap: 0;

            p.title {
                font-size: 2vh;
                color: black;
                margin: 0;
            }

            p.subtitle {
                font-size: 1.5vh;
                color: gray;
                margin: 0;
            }
        }

        img.logo {
            height: 5vh;
            width: 5vh;
            display: block;
        }
    } 

    div.navigation {
        cursor: pointer;
        &:hover {
            background-color: rgb(230, 230, 230);
        }
    }

    div.right-buttons {
        display: flex;
        align-items: center;
        gap: 1vw;

        button {
            display: flex;
            align-items: center;
            gap: 0.3vw;
            padding: 0.5vh 1vw;
            border: none;
            background-color: transparent;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.1s ease;
            font-family: inherit;
            color: inherit;

            span.button-text {
                font-size: 2vh;
                font-weight: 400;
            }

            mat-icon {
                font-size: 2.5vh;
                height: 2.5vh;
                width: 2.5vh;
            }

            &:hover {
                background-color: rgb(230, 230, 230);
            }

            &.logout-button {
                padding: 0.5vh;
            }
        }
    }
}